// --------------------------------------------------
// Styling
// --------------------------------------------------

.custom-login-form {
  margin: 0 40px;
  .forgot-pass-box {
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
    color: #cdcdcd;
    font-style: italic;
  }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {
}

// Mobile - only
@include media-breakpoint-only(xs) {
}

// Tablet - and up
@include media-breakpoint-up(sm) {
  .custom-login-form {
    margin: 0;
  }
}

// Tablet - only
@include media-breakpoint-only(sm) {
}

// Desktop - and up
@include media-breakpoint-up(md) {
}

// Desktop - only
@include media-breakpoint-only(md) {
}

// Large desktop - and up
@include media-breakpoint-up(lg) {
}

// Print
@media print {
}

// Touch
.touchevents {
}

// No touch
.no-touchevents {
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------