// --------------------------------------------------
// Styling
// --------------------------------------------------

button.custom-checkbox-ok:before {
  content: '\e013';
  font-family: 'Glyphicons Halflings';
}
button.custom-checkbox-trash:before {
  content: '\e020';
  font-family: 'Glyphicons Halflings';
  font-family: 12px;
}
.link-btn {
  color: #FFF !important;
}
a.btn-progress {
  //position: absolute;
  top: 0;
  right: 5px;
  z-index: 999;
}
.btn {
  width: 100%;
  padding: 9px 30px;
  font-size: 18px !important;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 600 !important;
}
button.custom-checkbox-ok, button.custom-checkbox-trash {
  padding: 8px;
  width: 45px;
  margin-right: 5px;
  margin-bottom: 5px;
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {
  .btn {
    width: 100%;
  }  
  .left-container {
    .region-sidebar-first {
      .btn {
        max-width: $left-container-width - 50px;
      }
    }
  }
}

// Mobile - only
@include media-breakpoint-only(xs) {
  .btn {
    width: 100%;
  }
  .left-container {
    .region-sidebar-first {
      .btn {
        max-width: $left-container-width - 50px;
      }
    }
  }
}

// Tablet - and up
@include media-breakpoint-up(sm) {
  .btn {
    width: 100%;
  }
  .left-container {
    .region-sidebar-first {
      .btn {
        max-width: $left-container-width - 50px;
      }
    }
  }
}

// Tablet - only
@include media-breakpoint-only(sm) {
  .btn {
    width: 100%;
  }
  .left-container {
    .region-sidebar-first {
      .btn {
        max-width: $left-container-width - 50px;
      }
    }
  }
}

// Desktop - and up
@include media-breakpoint-up(md) {
  .btn {
    width: auto;
  }
}

// Desktop - only
@include media-breakpoint-only(md) {
  .btn {
    width: auto;
  }
}

// Large desktop - and up
@include media-breakpoint-up(lg) {
  .btn {
    width: auto;
  }
}

// Print
@media print {
}

// Touch
.touchevents {
}

// No touch
.no-touchevents {
}
// --------------------------------------------------
// Mixins
// --------------------------------------------------