button.custom-checkbox-ok:before {
  content: '\e013';
  font-family: 'Glyphicons Halflings';
}
button.custom-checkbox-trash:before {
  content: '\e020';
  font-family: 'Glyphicons Halflings';
  font-family: 12px;
}
.link-btn {
  color: #FFF !important;
}
a.btn-progress {
  //position: absolute;
  top: 0;
  right: 5px;
  z-index: 999;
}
.btn {
  padding: 9px 30px;
  font-size: 18px !important;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 600 !important;
}
button.custom-checkbox-ok, button.custom-checkbox-trash {
  padding: 8px;
  width: 45px;
  margin-right: 5px;
  margin-bottom: 5px;
}