// --------------------------------------------------
// Styling
// --------------------------------------------------

.modal-dialog {
  .modal-header {
    background-color: #50afe9 !important;
    padding: 15px 35px;
    position: relative;
    
    .close {
      color: #FFF;
      padding: 5px 10px;
      position: absolute;
      right: 25px;
      top: 50%;
      transform: translateY(-50%);
    }
   
    .modal-title {
      color: #FFF !important;
      font-size: 24px;
    }
  }
  .modal-body {
    padding: 15px 35px 0 35px;
    .form-actions {
      display: none;
    }
    .form-group {
      margin-bottom: 10px;
    }
    div.form-type-textarea {
      margin-bottom: -10px;
    }
  }
  .modal-footer {
    border: none;
    text-align: left;
    padding: 0 35px 20px 35px;
    background-color: #FFF !important;
    
    button.button {
      font-size: 22px;
      padding: 10px 20px;
      background-color: #6dae22;
      border-color: #588f19;
    }
  }
}

.bc-2movepeople-rate-progression-user-rates-add-form {
  margin-left: -30px;
  margin-right: -15px;
  h2 {
    color: $form-text-color;
    border-bottom: 1px solid $btn-nav-hover-color;
    padding-bottom: 4px;
    margin-bottom: 30px;
  }
}

.modal-body__progression-tabs {
  min-height:300px;
  max-height: 450px;
  overflow-y: auto;
  margin-bottom: 5px;
}

#bc_2movepeople-rate-progression-add-form {
  margin-bottom: 5px;
  padding-right: 10px;
  margin-right: -10px;
  max-height: 600px;
  overflow-y: auto;
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) { 
}

// Mobile - only
@include media-breakpoint-only(xs) {
}

// Tablet - and up
@include media-breakpoint-up(sm) {
  
  .modal-body__progression-tabs {
    width:700px; 
    min-height:300px;
    max-height: 600px;
    overflow-y: auto;
  }

  .bc-2movepeople-rate-progression-user-rates-add-form {
    margin-left: -15px;
    margin-right: -15px;
  }
}

// Tablet - only
@include media-breakpoint-only(sm) {
}

// Desktop - and up
@include media-breakpoint-up(md) {
}

// Desktop - only
@include media-breakpoint-only(md) {

}

// Large desktop - and up
@include media-breakpoint-up(lg) {
}

// Print
@media print {
}

// Touch
.touchevents {
}

// No touch
.no-touchevents {
}
// --------------------------------------------------
// Mixins
// --------------------------------------------------
