// --------------------------------------------------
// Styling
// --------------------------------------------------

// Modal dialog position
.modal-dialog {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  h1.page-header {
    border-bottom: 0;
    text-align: center;
    color: $color-font-h1;
  }
  #bc_2movepeople-dashboard-user-create-form {
    input {
      margin-bottom: 20px;
    }
  }
}

#drupal-modal--content {
  margin: 2em 0;
  max-height: none !important;
}

// Modal background background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*  z-index: @zindex-modal-background;*/
  background-color: #9cafc4;
  // Fade for backdrop
  &.fade { opacity: 0; }
  &.in { opacity:0.7; }
}

.modal-dialog {

  .modal-header {
    background-color: $color-blue !important;
    padding: 15px 35px;
    position: relative;

    .close {
      color: #FFF;
      padding: 5px 10px;
      position: absolute;
      right: 25px;
      top: 50%;
      transform: translateY(-50%);
    }

    .modal-title {
      color: #FFF !important;
      font-size: 24px;
    }
  }
  .modal-body {
    padding: 15px 35px 0 35px;
    overflow: auto !important;
    .form-actions {
      display: none;
    }
    .form-group {
      margin-bottom: 10px;
    }
    div.form-type-textarea {
      margin-bottom: -10px;
    }
  }
  .modal-footer {
    border: none;
    text-align: left;
    padding: 0 35px 20px 35px;
  }
}

.bc-2movepeople-rate-progression-user-rates-add-form {
  margin-left: -30px;
  margin-right: -15px;
  h2 {
    color: $form-text-color;
    border-bottom: 1px solid $btn-nav-hover-color;
    padding-bottom: 4px;
    margin-bottom: 30px;
  }
}

.modal-body__progression-tabs {
  min-height:300px;
  max-height: 450px;
  overflow-y: auto;
  margin-bottom: $grid-gutter-width;
}

#bc_2movepeople-rate-progression-add-form {
  margin-bottom: 5px;
  padding-right: 10px;
  margin-right: -10px;
  max-height: 600px;
  overflow-y: auto;
}

.milestone-evaluation__item {
  padding-top: 30px;

  h2 {
    margin-top: 0;
  }

  h2, h3, h4 {
    font-weight: bold;
  }

  + .milestone-evaluation__item {
    margin-top: 30px;

    border-top: 1px solid #ddd;
  }
}

.ev-list {
  margin-top: 20px;
}

.ev-item {

  + .ev-item {
    margin-top: 10px;
  }
}

.milestone-evaluation {

  .milestone-evaluation-footer{
    padding-top: 30px;
    margin: 10px 0 20px 0;
  }
}

.bc-2movepeople-dashboard-user-managers-edit-form {
  fieldset .fieldset-wrapper {
    max-height: 300px;
    overflow-y: auto;
  }
}
// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {
}

// Mobile - only
@include media-breakpoint-only(xs) {
}

// Tablet - and up
@include media-breakpoint-up(sm) {

  .modal-dialog {

    > .modal-content {
      min-width: 700px;
    }
  }

  .modal-body__progression-tabs {
    width:700px;
    min-height:300px;
    max-height: 600px;
    overflow-y: auto;
  }

  .bc-2movepeople-rate-progression-user-rates-add-form {
    margin-left: -15px;
    margin-right: -15px;
  }

  #drupal-modal {
    .modal-dialog {
      width: auto;
    }
  }
}

// Tablet - only
@include media-breakpoint-only(sm) {
}

// Desktop - and up
@include media-breakpoint-up(md) {
}

// Desktop - only
@include media-breakpoint-only(md) {

}

// Large desktop - and up
@include media-breakpoint-up(lg) {
}

// Print
@media print {
}

// Touch
.touchevents {
}

// No touch
.no-touchevents {
}
// --------------------------------------------------
// Mixins
// --------------------------------------------------
