.modal-dialog {
  .modal-header {
    background-color: #50afe9 !important;
    padding: 15px 35px;
    
    .close {
      color: #FFF;
      margin-top: 5px;
    }
   
    .modal-title {
      color: #FFF !important;
      font-size: 24px;
    }
  }
  .modal-body {
    padding: 15px 35px 0 35px;
    .form-actions {
      display: none;
    }
    .form-group {
      margin-bottom: 10px;
    }
    div.form-type-textarea {
      margin-bottom: -10px;
    }
  }
  .modal-footer {
    border: none;
    text-align: left;
    padding: 0 35px 20px 35px;
    background-color: #FFF !important;
    
    button.button {
      font-size: 22px;
      padding: 10px 20px;
      background-color: #6dae22;
      border-color: #588f19;
    }
  }
}