
// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

#block-secondarynavigation, #block-settingsmenu,
#block-views-block-2mp-connected-users-block-links-simple {
  .nav > li > a {
    font-weight: bold;
    font-size: 15px;
    padding: 15px 30px 15px 50px; 
  }
  .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: $btn-nav-hover-color;
  }
}

.customicon {
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  
  &.ci-user::before {
    content: '\e008';
    font-family: 'Glyphicons Halflings';
    font-size: 16px;
  }
  &.ci-gear::before {
    content: '\e019';
    font-family: 'Glyphicons Halflings';
    font-size: 20px;
  }
}

div.custom-nav-divider {
  border-bottom:1px solid $divider-color;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.01em;
  position: relative;
  padding-bottom: 26px;
  margin-bottom: 25px;
  
  i {
    position: absolute;
    bottom: -25px;
    left: 20px;
/*    left: 15%;*/
/*    margin-left: -20px;*/
    border: 1px solid $divider-color;
    color: $link-color;
    width: 50px;
    height: 50px;
    line-height: 46px;
    background: #FFF;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    text-align: center;
  }
  i.fa-cog {
    line-height: 48px;
  }
  i.customicon.ci-gear::before {
    line-height: 39px;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {
}

// Mobile - only
@include media-breakpoint-only(xs) {
}

// Tablet - and up
@include media-breakpoint-up(sm) {
  #block-secondarynavigation, #block-settingsmenu,
  #block-views-block-2mp-connected-users-block-links-simple {
    .nav > li > a {
      padding: 20px 15px 20px 50px; 
    }
  }
}

// Tablet - only
@include media-breakpoint-only(sm) {
  #block-secondarynavigation, #block-settingsmenu,
  #block-views-block-2mp-connected-users-block-links-simple {
    .nav > li > a {
      padding: 20px 15px 20px 50px; 
    }
  }
}

// Desktop - and up
@include media-breakpoint-up(md) {
  #block-secondarynavigation, #block-settingsmenu,
  #block-views-block-2mp-connected-users-block-links-simple {
    .nav > li > a {
      padding: 20px 15px 20px 50px; 
    }
  }
}

// Desktop - only
@include media-breakpoint-only(md) {
  #block-secondarynavigation, #block-settingsmenu,
  #block-views-block-2mp-connected-users-block-links-simple {
    .nav > li > a {
      padding: 20px 15px 20px 50px; 
    }
  }
}

// Large desktop - and up
@include media-breakpoint-up(lg) {
  #block-secondarynavigation, #block-settingsmenu,
  #block-views-block-2mp-connected-users-block-links-simple {
    .nav > li > a {
      padding: 20px 15px 20px 50px; 
    }
  }
}

// Print
@media print {
}

// Touch
.touchevents {
}

// No touch
.no-touchevents {
}
// --------------------------------------------------
// Mixins
// --------------------------------------------------