// |--------------------------------------------------------------------------
// | Page layout
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .left-container, .main-container
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------
$left-container-width: 245px;
$left-container-bg: #FFF;

// --------------------------------------------------
// Styling
// --------------------------------------------------

.left-container {
  width: $left-container-width;
  position: fixed;
  height: 100%;
  margin-top: -15px;
  padding-top: 15px;
  z-index: 1;
  background-color: $left-container-bg;  
  padding-bottom: 64px;
  
  div.region-sidebar-first {
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
  }
}

.main-container {
  margin-left: $left-container-width;
  margin-bottom: 50px;

  .main-container__content {
    padding-left: $main-container-content-padding;
    padding-right: $main-container-content-padding;
  }

  h1.page-header {
    color: $color-font-h1;
  }
}

.blockBrand {
  text-align: center;
  padding-top: 22px;
  padding-bottom: 34px;
}

.logoBrand {
  display: inline-block;
  width: $left-container-width;
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {
}

// Mobile - only
@include media-breakpoint-only(xs) {
}

// Tablet - and up
@include media-breakpoint-up(sm) {
}

// Tablet - only
@include media-breakpoint-only(sm) {
}

// Desktop - and up
@include media-breakpoint-up(md) {
}


// Desktop - only
@include media-breakpoint-only(md) {
}

// Large desktop - and up
@include media-breakpoint-up(lg) {
}

// Print
@media print {
}

// Touch
.touchevents {
}

// No touch
.no-touchevents {
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------