// |--------------------------------------------------------------------------
// | Page layout
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .left-container, .main-container
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

html {
  overflow: hidden;
}

.preload {
  &, & * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
  }
}

.tabs-left {
  border-bottom: none;
  padding-top: 2px;
  border-right: 1px solid #ddd;
  li {
    float: none;
    margin-bottom: 2px;
    margin-right: -1px;
    a {
      border-radius: 4px 0 0 4px;
      margin-right: 0;
      display:block;
    }
  }
  li.active {
    a, a:hover, a:focus {
      border-bottom-color: #ddd;
      border-right-color: transparent;
    }
  }
}

.vertical-text {
  margin-top:50px;
  border: none;
  position: relative;
  li {
    height: 20px;
    width: 120px;
    margin-bottom: 100px;
    a {
      border-bottom: 1px solid #ddd;
      border-right-color: transparent;
      text-align: center;
      border-radius: 4px 4px 0px 0px;
      
      display: inline-block;
      white-space: nowrap; 
      width: 120px;
      overflow: hidden;
      text-overflow: ellipsis; 
    }
    &.active {
      a, a:hover, a:focus {
        border-bottom-color: transparent;
        border-right-color: #ddd;
        border-left-color: #ddd;
      }
    }
  }
  &.tabs-left {
    left: -50px;
    li {
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
  }
}

.container-fluid {
  max-width: 1300px;
}

.layout__wrapper {
  display: flex;

  height: 100%;
  width: 100%;

  flex-direction: row;
  flex-wrap: nowrap;
}
.layout__sidebar {
  padding: $grid-gutter-width 0;

  width: 280px;

  background-color: $body-bg-secondary;
}
.layout__content {
  flex-grow: 1;

  padding-bottom: floor( ($grid-gutter-width / 2) );
}

// Logo
.layout__sidebar__logo {
  display: block;

  text-align: center;
}
.layout__sidebar__logo__image {}

.navbar {
  margin-bottom: floor( ($grid-gutter-width / 2) ) !important;
}

h1.page-header {
  border: none;

  color: $color-font-h1;
}

.breadcrumb {
  padding: 0;
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// Modal dialog position
.modal-dialog {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  h1.page-header {
    border-bottom: 0;
    text-align: center;
    color: $color-font-h1;
  }
  #bc_2movepeople-dashboard-user-create-form {
    input {
      margin-bottom: 20px;
    }
  }
}

// Modal background background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
/*  z-index: @zindex-modal-background;*/
  background-color: #9cafc4;
  // Fade for backdrop
  &.fade { opacity: 0; }
  &.in { opacity:0.7; }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs) {}

// Tablet - and up
@include media-breakpoint-up(sm) {

  .vertical-text {
    margin-top: initial;
    border-right: 1px solid #ddd;
    position: initial;
    li {
      height: initial;
      width: initial;
      margin-bottom: 2px;
      a {
        border-bottom: initial;
        border-right-color: transparent;
        text-align: center;
        border-radius: 4px 0 0 4px;

        display: block;
        white-space: initial; 
        width: initial;
        overflow: initial;
        text-overflow: initial; 
      }
      &.active {
        a, a:hover, a:focus {
          border-bottom-color: #ddd;
          border-right-color: transparent;
        }
      }
    }
    &.tabs-left {
      left: initial; //-50px;
      li {
        -webkit-transform: initial;
        -moz-transform: initial;
        -ms-transform: initial;
        -o-transform: initial;
        transform: initial;
      }
    }
  }
}

// Tablet - only
@include media-breakpoint-only(sm) {}

// Desktop - and up
@include media-breakpoint-up(md) {}

// Desktop - only
@include media-breakpoint-only(md) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}

// --------------------------------------------------
// Mixins
// --------------------------------------------------
