// |--------------------------------------------------------------------------
// | Page layout
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .left-container, .main-container
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------
$left-container-width: 245px;

// --------------------------------------------------
// Styling
// --------------------------------------------------

.left-container {
  width: $left-container-width;
  position: fixed;
  height: 100%;
  margin-top: -15px;
  padding-top: 15px;
  z-index: 1;
  background-color: $body-bg-secondary;
  padding-bottom: 64px;
  
  div.region-sidebar-first {
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: flex-start;

    nav:last-child {
      margin-top: auto;
    }
    .blockBrand {
      text-align: center;
      padding-top: 22px;
      padding-bottom: 34px;
    }
    .logoBrand {
      display: inline-block;
      width: $left-container-width;
    }
  }
}

.main-container {
  //margin-left: $left-container-width;
  margin-bottom: 50px;

  .main-container__content {
    padding-left: $main-container-content-padding;
    padding-right: $main-container-content-padding;
  }

  h1.page-header {
    color: $color-font-h1;
    border: none;
  }
}

// toggle sidebar panel
#page-wrapper {
  height: 100%;
  padding-left: 245px;
  transition: all 0.4s ease 0s;
  
  &.active {
    padding-left: 0;
    
    #sidebar-wrapper {
      left: 0;
    }
  }
  
  header.navbar {
    margin-left: -5px;
  }
  
  #sidebar-wrapper {
    top: 51px;
    margin-left: -250px;
    width: 245px;
    background: #000;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
  }
  
  #page-content-wrapper {
    width: 100%;
    padding-top: 17px;
    transition: all 0.4s ease 0s;
  }
  
  #menu-toggle {
    text-decoration: none;
    float: left;
    color: #fff;
    padding-right: 15px;
  }
}

// ??? doesnt work correctly in #page-wrapper {}
#sidebar-wrapper {
  left: 245px;
}

@media (max-width:767px) {

  #page-wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    left: 0;
  }

  #page-wrapper.active {
    position: relative;
    left: 245px;
  }

  #page-wrapper.active #sidebar-wrapper {
    left: 245px;
    width: 245px;
    transition: all 0.4s ease 0s;
  }

  #menu-toggle {
    display: inline-block;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {
}

// Mobile - only
@include media-breakpoint-only(xs) {
}

// Tablet - and up
@include media-breakpoint-up(sm) {
}

// Tablet - only
@include media-breakpoint-only(sm) {
}

// Desktop - and up
@include media-breakpoint-up(md) {
}


// Desktop - only
@include media-breakpoint-only(md) {
}

// Large desktop - and up
@include media-breakpoint-up(lg) {
}

// Print
@media print {
}

// Touch
.touchevents {
}

// No touch
.no-touchevents {
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------