@mixin text-trimmed() {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
}

.view.view-id-2mp_connected_users{
  &.view-display-id-block_links_simple{
    .item-list{
      ul{
        li{
          a{
            @include text-trimmed();
          }
        }
      }
    }
  }
}

.view {
  &.view-id-2mp_connected_users,
  &.view-_mp-users-search {
    .create-user-view-area {
      margin: 1em 0;
    }
  }

  &.row {

    // Exposed filter.
    // Apply the same padding as we do on .col-*.
    // Unfortunately the filters is placed within the .row but has
    // no .col-* applied around it.
    .view-filters {
      padding-left:  ceil(($grid-gutter-width / 2));
      padding-right: floor(($grid-gutter-width / 2));
    }
  }
}
