# Folders to ignore
logs
sessions
tmp

# Numerous always-ignore extensions
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
*.zip
*.sql
/nbproject/private/
vendor
docroot/modules/contrib
docroot/sites/default/files
docroot/sites/default/settings.php
