//NEW VARS


// OLD VARS
$color-primary-1: #006c72; //green
$color-primary-2: #7c6b59; //brown

$color-font-header-dark: #222c2c;

$color-font-link-1: #008f9a;

$color-font-block-2: #4e5152;

$color-font-dark: #5d5f5f;
$color-white: #ffffff;
$color-black: #363636;

$color-border-light: #e5f4f5;

$color-block-bg-3: #e5f4f5;
$color-block-bg-4: #f7f8f8;
$color-block-bg-5: #008a94;
$color-view-date-news: #008a94;
$color-bg-effect: #f4f4f6;
$color-font-footer: #727474;
$color-a-footer: #11767b;

$color-page-h1: #2d2d2d;
$color-left-menu-active: #56b5bc;
$color-top-submenu-border: #e8e8e8;