// |--------------------------------------------------------------------------
// | Page layout
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .user
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------
.user {
  &.user--compact {
    outline: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 255px;
    padding: 20px;
    text-align: center;
    background: $body-bg-secondary;

    div.field {
      display: inline-block;
    }
    img {
      width: 85px;
      height: 85px;
      @include opacity(.2);
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {
}

// Mobile - only
@include media-breakpoint-only(xs) {
}

// Tablet - and up
@include media-breakpoint-up(sm) {
}

// Tablet - only
@include media-breakpoint-only(sm) {
}

// Desktop - and up
@include media-breakpoint-up(md) {
}


// Desktop - only
@include media-breakpoint-only(md) {
}

// Large desktop - and up
@include media-breakpoint-up(lg) {
}

// Print
@media print {
}

// Touch
.touchevents {
}

// No touch
.no-touchevents {
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------