$text-muted: #ADA2A4;
$body-bg-secondary: #fff;
$body-bg-tertiary: #4c5e66;
$border-color: #ccd6d9;
$body-bg: #F2F5F7;

$navbar-default-bg: #232b36;
$navbar-default-border: #32aae9;
$navbar-default-link-color: #FFFFFF;
$navbar-default-link-hover-color: #32aae9;

$link-color: #355981;
