$headings-font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

//== Pagination
//
//##
$text-muted: #ADA2A4;
$body-bg: #F2F5F7;
$body-bg-secondary: #fff;
$body-bg-tertiary: #4c5e66;

//== Navbar
//
//##
$navbar-default-bg: #78889b; //#232b36;
$navbar-default-border: #32aae9;
$navbar-default-link-color: #FFFFFF;
$navbar-default-link-hover-color: #32aae9;

//== Panels
//
//##
$panel-default-heading-bg: #FFFFFF;

//== Scaffolding
//
//## Settings for some of the most global styles.
$link-color: #355981;
$form-text-color: #576d8b;

//== Buttons
//
//##

$btn-default-color: #FFFFFF;
$btn-default-bg: #50afe8;
$btn-default-border: $btn-default-bg;

$brand-secondary: #FFF;
$btn-secondary-color: #4f5050;
$btn-secondary-bg: $brand-secondary;
$btn-secondary-border: lighten($btn-secondary-color, 60%);

//== Custom
//
//##
$border-color: #ccd6d9;
$main-container-content-padding: 60px;
$divider-color: #d4dfe9;
$btn-nav-hover-color: #f1f7fd;
$text-dashboard-color: #72859f;
$form-control-margin-bottom: 10px;
$form-remind-warning-bg: #faf5d6;
$form-remind-expired-bg: #ffc7d1;

$left-container-width: 245px;