a.btn-progress {
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 999;
}
a.has-child,
a.has-child:hover{
  text-decoration: none;
}
a.has-child::before{
  content: '\25ba';
  margin-left: -1.5em;
  font-size: 10px;
  vertical-align:middle;
}
a.has-child[aria-expanded="false"]::before {
    content: '\25ba';
}
a.has-child[aria-expanded="true"]::before {
    content: '\25bc';
}
.subgoals {
  padding-left: 10px;
  margin: 10px 0;
}
span.task {
  display: inline-block;
  width: 16px;    
  height: 16px;
}
 span.task.uncompleted{
  background-image: url(../images/uncompleted-task-icon.png);
}
 span.task.completed{
  background-image: url(../images/completed-task-icon.png);
}
.custom-form-fields {
  margin-top: 10px;
}
.custom-form-label {
  font-weight: bold;
}
button.custom-checkbox-ok, button.custom-checkbox-trash {
  margin-right: 5px;
}
button.custom-checkbox-ok:before {
  content: '\e013';
  font-family: 'Glyphicons Halflings';
}
button.custom-checkbox-trash:before {
  content: '\e020';
  font-family: 'Glyphicons Halflings';
}
.link-btn {
  color: #FFF !important;
}
.user-task-box {
  border-bottom: 1px solid lightgray;
  padding: 5px;
}
.task-complete-ajax-form-row {
  padding: 0 10px;
}
.task-complete-ajax-form-title {
  font-weight: bold;
}
.task-complete-ajax-form-box {
  border-bottom: 1px solid lightgray;
  margin-bottom: 5px;
}
.col-right {
  text-align: right;
}
