// |--------------------------------------------------------------------------
// | Dashboard accordion
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .dashboard-accordion
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

.dashboard-accordion {
  margin-top: 10px;

  .dashboard-overview {
    padding: 0;
    background-color: transparent;
  }

  .panel-heading {
    padding: 0;

    a {
      font-size: 18px;
      font-weight: bold;
      display: block;
      padding: $panel-heading-padding;
    }

    a:link, a:hover, a:visited, a:active {
      text-decoration: none;
      color: $form-text-color;
    }

    span.glyphicon-triangle-custom:before {
      display: inline-block;

      width: 20px;

      font-size: 22px;
      font-family: $font-family-base;
    }

    a[aria-expanded="false"] {

      span.glyphicon-triangle-custom:before {
        content: "+";
      }
    }

    a[aria-expanded="true"] {

      span.glyphicon-triangle-custom:before {
        content: "-";
      }
    }
  }
  .panel-body {
    border-top: none !important;
    div.div-goals {
      padding: 0 24px;
      margin-top: 10px;
    }
  }

  .panel-default {
    border: 0;
  }

  .btn {
    margin-bottom: $form-control-margin-bottom;
  }

  .left-btn-box, .right-btn-box {
    text-align: center;
  }

  .div-chart {
    div {
      overflow-x: auto;
      overflow-y: hidden;
    }
  }
  .dashboard-accordion__action-btn {
    text-align: center;
  }
  &#accordion-milestones{
    & .panel-heading{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      & a.btn#btn-evaluering{
        color: white;
        padding: 5px 20px;
        color: white;
        margin: 5px;
      }
    }
  }

  .field--item {

    + .field--item {
      margin-top: 10px;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

}

// Mobile - only
@include media-breakpoint-only(xs) {

}

// Tablet - and up
@include media-breakpoint-up(sm) {

  .dashboard-accordion {
    .left-btn-box, .right-btn-box {
      text-align: right;
    }
    .dashboard-accordion__action-btn {
      text-align: center;
    }
    .btn {
      margin-bottom: $form-control-margin-bottom;
    }
    &#accordion-milestones{
      & .panel-heading{
        justify-content: space-between;
      }
    }
  }
}

// Tablet - only
@include media-breakpoint-only(sm) {

  .dashboard-accordion {
    .left-btn-box, .right-btn-box {
      text-align: right;
    }
    .dashboard-accordion__action-btn {
      text-align: center;
    }
    .btn {
      margin-bottom: $form-control-margin-bottom;
    }
  }
}

// Desktop - and up
@include media-breakpoint-up(md) {

  .dashboard-accordion {
    .left-btn-box {
      text-align: left;
    }
    .right-btn-box {
      text-align: right;
    }
    .dashboard-accordion__action-btn {
      text-align: center;
    }
    .btn {
      margin-bottom: $form-control-margin-bottom - 8px;
    }
  }

}

// Desktop - only
@include media-breakpoint-only(md) {

  .dashboard-accordion {
    .left-btn-box {
      text-align: left;
    }
    .right-btn-box {
      text-align: right;
    }
    .btn {
      margin-bottom: $form-control-margin-bottom - 8px;
    }
  }

}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  .dashboard-accordion {
    .left-btn-box {
      text-align: left;
    }
    .right-btn-box {
      text-align: right;
    }
    .dashboard-accordion__action-btn {
      text-align: left;
    }
    .btn {
      margin-bottom: $form-control-margin-bottom - 8px;
    }
  }

}

// Print
@media print {
}

// Touch
.touchevents {
}

// No touch
.no-touchevents {
}
// --------------------------------------------------
// Mixins
// --------------------------------------------------
