// |--------------------------------------------------------------------------
// | Dashboard layout
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .dashboard-overview
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------
$dashboard-padding: 22px;

// --------------------------------------------------
// Styling
// --------------------------------------------------
.dashboard-overview {
  padding: $dashboard-padding;
  background-color: $body-bg-secondary;
  color: $text-dashboard-color;

  h2.subtitle {
    font-size: 1.5em;
    color: $color-font-h2;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 25px;
  }

  .dashboard-divider {
    margin-bottom: 20px;
    margin-left: -$dashboard-padding;
    margin-right: -$dashboard-padding;
    border-bottom: 2px solid $btn-nav-hover-color;
  }

  .dashboard-overview__control-buttons {
    padding-bottom: 13px;
    .btn:not(:first-child) {
      margin-left: 0;
    }
    .btn {
      margin-bottom: $form-control-margin-bottom;
    }
  }
}

.bc-2movepeople-dashboard-progression-edit-form {
  .left-btn-box, .right-btn-box  {
    text-align: left;
  }
}

/*.btn {
    margin-bottom: 2px;
  }*/

#progression_total_table, #milestone_total_table, #progression_total_chart {
  overflow-x: auto;
}

.view-id-2mp_connected_users {
  padding-right: $main-container-content-padding - 45px;
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {
}

// Mobile - only
@include media-breakpoint-only(xs) {
}

// Tablet - and up
@include media-breakpoint-up(sm) {
  
  .bc-2movepeople-dashboard-progression-edit-form {
    .left-btn-box, .right-btn-box {
      text-align: right;
    }
  }
  
  .view-id-2mp_connected_users {
    padding-right: 0;
  }
  
  .dashboard-overview {
    .dashboard-overview__control-buttons {
      padding-bottom: 13px;
      .btn:not(:first-child) {
        margin-left: 0;
      }
      .btn {
        margin-bottom: $form-control-margin-bottom;
      }
    }
  }
}

// Tablet - only
@include media-breakpoint-only(sm) {
  
  .bc-2movepeople-dashboard-progression-edit-form {
    .left-btn-box {
      text-align: left;
    }
    .right-btn-box {
      text-align: right;
    }
  }
  
  .view-id-2mp_connected_users {
    padding-right: 0;
  }
  .dashboard-overview {
    .dashboard-overview__control-buttons {
      padding-bottom: 13px;
      .btn:not(:first-child) {
        margin-left: 0;
      }
      .btn {
        margin-bottom: $form-control-margin-bottom;
      }
    }
  }
}

// Desktop - and up
@include media-breakpoint-up(md) {
  
  .bc-2movepeople-dashboard-progression-edit-form {
    .left-btn-box {
      text-align: left;
    }
    .right-btn-box {
      text-align: right;
    }
  }
  
  .view-id-2mp_connected_users {
    padding-right: 0;
  }
  .dashboard-overview {
    .dashboard-overview__control-buttons {
      padding-bottom: 13px;
      .btn:not(:first-child) {
        margin-left: 24px;
      }
      .btn {
        margin-bottom: $form-control-margin-bottom - 8px;
      }
    }
  }
}

// Desktop - only
@include media-breakpoint-only(md) {
  
  .bc-2movepeople-dashboard-progression-edit-form {
    .left-btn-box {
      text-align: left;
    }
    .right-btn-box {
      text-align: right;
    }
  }
  
  .view-id-2mp_connected_users {
    padding-right: 0;
  }
  .dashboard-overview {
    .dashboard-overview__control-buttons {
      padding-bottom: 13px;
      .btn:not(:first-child) {
        margin-left: 24px;
      }
      .btn {
        margin-bottom: $form-control-margin-bottom - 8px;
      }
    }
  }
}

// Large desktop - and up
@include media-breakpoint-up(lg) {
  
  .bc-2movepeople-dashboard-progression-edit-form {
    .left-btn-box {
      text-align: left;
    }
    .right-btn-box {
      text-align: right;
    }
  }
  
  .view-id-2mp_connected_users {
    padding-right: 0;
  }
  .dashboard-overview {
    .dashboard-overview__control-buttons {
      padding-bottom: 13px;
      .btn:not(:first-child) {
        margin-left: 24px;
      }
      .btn {
        margin-bottom: $form-control-margin-bottom - 8px;
      }
    }
  }
}

// Print
@media print {
}

// Touch
.touchevents {
}

// No touch
.no-touchevents {
}
// --------------------------------------------------
// Mixins
// --------------------------------------------------