// |--------------------------------------------------------------------------
// | Dashboard accordion
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .dashboard-accordion
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

.dashboard-accordion {
  margin-top: 10px;
  .panel-heading {
    padding: 0;
    border-color: red !important;
    a {
      font-size: 18px;
      font-weight: 600;
      display: block ;
      padding: $panel-heading-padding;
    }
    a:link, a:hover, a:visited, a:active {
      text-decoration: none;
      color: $form-text-color;
    }
    a[aria-expanded="false"] {
      span.glyphicon-triangle-custom:before {
        content: "\e250";
      }
    }
    a[aria-expanded="true"] {
      span.glyphicon-triangle-custom:before {
        content: "\e252";
      }
    }
  }
  .panel-body {
    border-top: none !important;
    div.div-goals {
      padding: 0 24px;
      margin-top: 10px;
    }
  }
  .panel-default {
    border-color: $btn-default-bg;
  }
  .btn {
    margin-bottom: $form-control-margin-bottom;
  }
  
  .left-btn-box, .right-btn-box {
    text-align: center;
  }
  
  .div-chart {
    div {
      overflow-x: auto;
      overflow-y: hidden;
    }
  }
  .dashboard-accordion__action-btn {
    text-align: center;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

}

// Mobile - only
@include media-breakpoint-only(xs) {

}

// Tablet - and up
@include media-breakpoint-up(sm) {

  .dashboard-accordion {
    .left-btn-box, .right-btn-box {
      text-align: right;
    }
    .dashboard-accordion__action-btn {
      text-align: center;
    }
    .btn {
      margin-bottom: $form-control-margin-bottom;
    }
  }
}

// Tablet - only
@include media-breakpoint-only(sm) {
  
  .dashboard-accordion {
    .left-btn-box, .right-btn-box {
      text-align: right;
    }
    .dashboard-accordion__action-btn {
      text-align: center;
    }
    .btn {
      margin-bottom: $form-control-margin-bottom;
    }
  }
}

// Desktop - and up
@include media-breakpoint-up(md) {
  
  .dashboard-accordion {
    .left-btn-box {
      text-align: left;
    }
    .right-btn-box {
      text-align: right;
    }
    .dashboard-accordion__action-btn {
      text-align: center;
    }
    .btn {
      margin-bottom: $form-control-margin-bottom - 8px;
    }
  }

}

// Desktop - only
@include media-breakpoint-only(md) {
  
  .dashboard-accordion {
    .left-btn-box {
      text-align: left;
    }
    .right-btn-box {
      text-align: right;
    }
    .dashboard-accordion__action-btn {
      text-align: left;
    }
    .btn {
      margin-bottom: $form-control-margin-bottom - 8px;
    }
  }
 
}

// Large desktop - and up
@include media-breakpoint-up(lg) {
  
  .dashboard-accordion {
    .left-btn-box {
      text-align: left;
    }
    .right-btn-box {
      text-align: right;
    }
    .dashboard-accordion__action-btn {
      text-align: left;
    }
    .btn {
      margin-bottom: $form-control-margin-bottom - 8px;
    }
  }
  
}

// Print
@media print {
}

// Touch
.touchevents {
}

// No touch
.no-touchevents {
}
// --------------------------------------------------
// Mixins
// --------------------------------------------------