.custom-form-fields {
  margin-top: 10px;
}
.custom-form-label {
  font-weight: bold;
}
.col-right {
  text-align: right;
}

select.form-select {
  border:solid 2px $btn-default-bg !important; 
}
span.input-group-addon {
  border-top: solid 2px $btn-default-bg;
  border-right: solid 2px $btn-default-bg;
  border-bottom: solid 2px $btn-default-bg;
  background-color: #FFF;
}