.custom-form-fields {
  margin-top: 5px;
}
.custom-form-label {
  font-weight: bold;
}
.col-right {
  text-align: right;
}

.form-control {
  height: 45px;
}

select.form-select {
  border:solid 2px $btn-default-bg !important; 
}
span.input-group-addon {
  border-top: solid 2px $btn-default-bg;
  border-right: solid 2px $btn-default-bg;
  border-bottom: solid 2px $btn-default-bg;
  background-color: #FFF;
}

.form-item {
  .control-label {
    color: $form-text-color;
    font-size: 1.125em;
    font-weight: normal;
  }
  input, select, textarea {
    font-size: 1.125em;
  }
}

.custom-form-label {
  color: $form-text-color;
  font-size: 1.125em;
  font-weight: normal;
}

.form-actions {
  .text-right {
    a.btn {
      margin-right: 0;
    }
  }
}