// --------------------------------------------------
// Styling
// --------------------------------------------------

.custom-form-fields {
  margin-top: 5px;
  padding-top: 2px;
}
// Marked for removal
.is-remind-warning {
  background-color: $form-remind-warning-bg !important;
}
// Marked for removal
.is-remind-expired {
  background-color: $form-remind-expired-bg !important;
}

.custom-form-label {
  font-weight: bold;
}
.col-right {
  text-align: right;
}

.form-control {
  height: 45px;
}

select.form-select {
  border:solid 2px $btn-default-bg !important;
  min-width: 100px;
}
span.input-group-addon {
  border-top: solid 2px $btn-default-bg;
  border-right: solid 2px $btn-default-bg;
  border-bottom: solid 2px $btn-default-bg;
  background-color: #FFF;
}

.form-item {
  .control-label {
    color: $form-text-color;
    font-size: 1.125em;
    font-weight: normal;
  }
  input, select, textarea {
    font-size: 1.125em;
  }
}

.custom-form-label {
  color: $form-text-color;
  font-size: 1.125em;
  font-weight: normal;
}

.form-actions {
  .text-right {
    a.btn {
      margin-right: 0;
    }
  }
}

.subtask {
  padding-left: 30px;
}

.div-form {
    input, select, textarea {
    margin-bottom: $form-control-margin-bottom;
  }
}
.dashboard-overview form[class^="bc-2movepeople-dashboard-milestone-edit-form-"] {
  & .purpose {
    height: 155px;
  }
  & .custom-form-fields.div-form {
    padding: 2px 15px 2px 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: normal;
  }
  & .custom-form-fields.div-form > *,
  & .custom-form-fields.custom-form-label > * {
    flex: 1;
    flex-grow: 1;
  }
  & .custom-form-fields.custom-form-label {
    padding: 2px 15px 2px 15px;
    display: flex;
  }
  & .custom-form-fields.custom-form-label > * {
    margin-right: 15px;
  }
  & .custom-form-fields.custom-form-label .custom-form-label-complete-btn {
    margin-right: 0px;
  }
  & .custom-form-fields.div-form, & .custom-form-fields.custom-form-label {
    & .custom-form-field-due-date, & .custom-form-label-due-date {
      flex-grow: 0.6;
    }
  }
  & .form-inline.form-item.form-type-date, & .custom-form-label-due-date > div {
    width: 170px;
    & input{
      width: 100%;
    }
  }
}


// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {
  .div-form {
      input, select, textarea {
      margin-bottom: $form-control-margin-bottom;
    }
  }
}

// Mobile - only
@include media-breakpoint-only(xs) {
  .div-form {
      input, select, textarea {
      margin-bottom: $form-control-margin-bottom;
    }
  }
}

// Tablet - and up
@include media-breakpoint-up(sm) {
  .div-form {
      input, select, textarea {
      margin-bottom: $form-control-margin-bottom;
    }
  }
}

// Tablet - only
@include media-breakpoint-only(sm) {
  .div-form {
      input, select, textarea {
      margin-bottom: $form-control-margin-bottom;
    }
  }
}

// Desktop - and up
@include media-breakpoint-up(md) {
  .div-form {
    input, select, textarea {
      margin-bottom: $form-control-margin-bottom - 8px;
    }
  }
}

// Desktop - only
@include media-breakpoint-only(md) {
  .div-form {
      input, select, textarea {
      margin-bottom: $form-control-margin-bottom - 8px;
    }
  }
}

// Large desktop - and up
@include media-breakpoint-up(lg) {
  .div-form {
    input, select, textarea {
      margin-bottom: $form-control-margin-bottom - 8px;
    }
  }
  .dashboard-overview form[class^="bc-2movepeople-dashboard-milestone-edit-form-"] {
    & .custom-form-fields.div-form {
      flex-direction: row;
      align-items: center;
      & .form-item {
        margin-right: 15px;
        margin-bottom: 0px;
      }
    }
    & .custom-form-fields.div-form ,& .custom-form-fields.custom-form-label {
      & .dashboard-accordion__action-btn,
      & .custom-form-field-due-date,
      & .custom-form-label-complete-btn,
      & .custom-form-label-due-date {
        flex: none;
      }
    }
    & .custom-form-label-complete-btn {
      width: 145px;
    }
  }
}

// Print
@media print {
}

// Touch
.touchevents {
}

// No touch
.no-touchevents {
}
// --------------------------------------------------
// Mixins
// --------------------------------------------------
