span.task {
  display: inline-block;
  width: 16px;    
  height: 16px;
}
span.task.uncompleted{
  background-image: url(../images/uncompleted-task-icon.png);
}
span.task.completed{
  background-image: url(../images/completed-task-icon.png);
}
.user-task-box {
  border-bottom: 1px solid lightgray;
  padding: 5px 5px 0 5px;
  div {
    margin-bottom: 5px;
  }
}
.task-complete-ajax-form-row {
  padding: 0 10px;
}
.task-complete-ajax-form-title {
  font-weight: bold;
}
.task-complete-ajax-form-box {
  border-bottom: 1px solid lightgray;
  margin-bottom: 5px;
}

.subgoals {
  padding-left: 10px;
  margin-bottom: 5px;
}